Repository vipyrsec/dragonfly-mainframe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers, @vipyrsec/devops

.github/CODEOWNERS:

*             @vipyrsec/core-developers @vipyrsec/security-reviewers
.dockerignore @vipyrsec/devops
Dockerfile    @vipyrsec/devops
/.github/     @vipyrsec/devops

dev: update `pre-commit` config
  .editorconfig
  .github/dependabot.yaml
  .github/workflows/sentry-release.yaml
  .pre-commit-config.yaml
  .taplo.toml
  .yamlfix.toml
  .yamllint.yaml
  compose-tests.yaml
  compose.yaml
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers, @vipyrsec/devops

chore: update copyright year in LICENSE
  LICENSE
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

fix: resolve type checker errors
  alembic/versions/0c4e434fc0b6_one_to_many_package_to_rules.py
  src/mainframe/database.py
  src/mainframe/dependencies.py
  src/mainframe/models/orm.py
  tests/test_auth.py
  tests/test_package.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

docs: migrate the contribution guide from PDM to uv
  CONTRIBUTING.md
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

fix: resolve lint failures
  alembic/script.py.mako
  alembic/versions/49f38c26141c_add_package_rules_pkey.py
  docs/source/conf.py
  src/mainframe/authorization_header_elements.py
  src/mainframe/constants.py
  src/mainframe/custom_exceptions.py
  src/mainframe/database.py
  src/mainframe/dependencies.py
  src/mainframe/endpoints/job.py
  src/mainframe/endpoints/package.py
  src/mainframe/endpoints/report.py
  src/mainframe/json_web_token.py
  src/mainframe/metrics.py
  src/mainframe/models/orm.py
  src/mainframe/models/schemas.py
  src/mainframe/rules.py
  src/mainframe/server.py
  src/mainframe/utils/pypi.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_dbconfig.py
  tests/test_job.py
  tests/test_package.py
  tests/test_report.py
  tests/test_rules.py
  tests/utils/test_pypi.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

chore: ignore the `D` lints
  pyproject.toml
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Raise HTTP 400 instead of 404 in validate_inspector_url
  src/mainframe/endpoints/report.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

chore(deps): improve grouping of Dependabot PRs
  .github/dependabot.yaml
Owners: @vipyrsec/devops

Omit server.py from coverage
  pyproject.toml
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Ignore dt is none cov branch for Package.serialize_dt
  src/mainframe/models/schemas.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

fix: make the project version static
  pyproject.toml
  uv.lock
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

ci(test): use GHA Service Containers instead of Docker Compose
  .github/workflows/lint-test.yaml
  tests/conftest.py
Owners: @vipyrsec/devops, @vipyrsec/core-developers, @vipyrsec/security-reviewers

Remove typos hook
  .pre-commit-config.yaml
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Add CF Access configuration settings
  src/mainframe/constants.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Add support for CF auth
  src/mainframe/authorization_header_elements.py
  src/mainframe/constants.py
  src/mainframe/dependencies.py
  src/mainframe/json_web_token.py
  tests/test_auth.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Substitute common_name for subject
  src/mainframe/json_web_token.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

deps(python): upgrade to Python 3.13
  Dockerfile
  pyproject.toml
  uv.lock
Owners: @vipyrsec/devops, @vipyrsec/core-developers, @vipyrsec/security-reviewers

Add support for CF auth
  src/mainframe/authorization_header_elements.py
  src/mainframe/constants.py
  src/mainframe/dependencies.py
  src/mainframe/json_web_token.py
  tests/test_auth.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Add CF Access configuration settings
  src/mainframe/constants.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Substitute common_name for subject
  src/mainframe/json_web_token.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

deps(python): upgrade to Python 3.13
  Dockerfile
  pyproject.toml
  uv.lock
Owners: @vipyrsec/devops, @vipyrsec/core-developers, @vipyrsec/security-reviewers

Use Cf-Access-Jwt-Assertion header
  src/mainframe/authorization_header_elements.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

update tests
  tests/test_auth.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Cache JWKS clients for token validation
  src/mainframe/json_web_token.py
  tests/conftest.py
  tests/test_json_web_token.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Decouple auth tests from database fixtures
  tests/conftest.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Show valid versions in report errors
  src/mainframe/endpoints/report.py
  tests/test_report.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Add disable auth constant
  src/mainframe/constants.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Use disable_auth option to override the auth dependency
  src/mainframe/server.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Set disable auth flag in test container
  compose-tests.yaml
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Pass algorithms to JWT decode call
  src/mainframe/json_web_token.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Add disable auth constant
  src/mainframe/constants.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Set disable auth flag in test container
  compose-tests.yaml
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Use disable_auth option to override the auth dependency
  src/mainframe/server.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Fix subject detection
  src/mainframe/json_web_token.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Add reported packages query support
  alembic/versions/3f42e287fc2f_add_report_summary_and_reported_at_index.py
  src/mainframe/endpoints/package.py
  src/mainframe/endpoints/report.py
  src/mainframe/models/orm.py
  src/mainframe/models/schemas.py
  tests/test_package.py
  tests/test_report.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Bump letsbuilda-pypi to 5.2.2
  pyproject.toml
  uv.lock
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Bump letsbuilda-pypi to 6.0.0
  pyproject.toml
  uv.lock
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Bump letsbuilda-pypi to 6.0.1
  pyproject.toml
  uv.lock
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Delete .devcontainer/devcontainer.json
  .devcontainer/devcontainer.json
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

upgrade all packages
  uv.lock
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers
