Repository vipyrsec/dragonfly-mainframe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers, @vipyrsec/devops

fix fastapi prometheus instrumentator middleware crash on routes registered via include_router
  pyproject.toml
  uv.lock
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

bump sentry-sdk to 2.64.0
  pyproject.toml
  uv.lock
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Replace letsbuilda-pypi with an in-house PyPI client
  pyproject.toml
  src/mainframe/dependencies.py
  src/mainframe/endpoints/package.py
  src/mainframe/pypi.py
  src/mainframe/server.py
  tests/conftest.py
  tests/test_package.py
  tests/test_pypi.py
  uv.lock
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Drop underscore prefix from internal PyPI wire models
  src/mainframe/pypi.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Make version a required argument of get_package_metadata
  src/mainframe/pypi.py
  tests/test_pypi.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Add regression test for unmodelled PyPI response fields
  tests/test_pypi.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

update pypi.py module docstring to be more succinct
  src/mainframe/pypi.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Don't use generic for default_factory argument for Field
  src/mainframe/pypi.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Make rules-primary-key migration idempotent
  alembic/versions/6991bcb18f89_add_rules_primary_key.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Remove legacy authentication from mainframe
  CONTRIBUTING.md
  src/mainframe/access_token.py
  src/mainframe/authorization_header_elements.py
  src/mainframe/constants.py
  src/mainframe/dependencies.py
  src/mainframe/json_web_token.py
  tests/test_auth.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Fix strict type checking findings
  src/mainframe/models/orm.py
  src/mainframe/pypi.py
  tests/test_report.py
  tests/test_rules.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Harden repository verification workflows
  .github/workflows/generate-migration-sql.yaml
  .github/workflows/image-build-push.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/sentry-release.yaml
  .pre-commit-config.yaml
  .yamllint.yaml
Owners: @vipyrsec/devops, @vipyrsec/core-developers, @vipyrsec/security-reviewers

Remove mainframe authentication bypass
  compose-tests.yaml
  src/mainframe/constants.py
  src/mainframe/dependencies.py
  src/mainframe/server.py
  tests/test_auth.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Add test-scoped authentication override
  CONTRIBUTING.md
  tests/conftest.py
  tests/test_auth.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Update verified workflow action pins
  .github/workflows/generate-migration-sql.yaml
  .github/workflows/image-build-push.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/sentry-release.yaml
Owners: @vipyrsec/devops

Upgrade mainframe dependencies
  Makefile
  pyproject.toml
  uv.lock
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Group Dependabot updates
  .github/dependabot.yaml
Owners: @vipyrsec/devops

Harden Cloudflare JWT key validation
  src/mainframe/json_web_token.py
  tests/test_auth.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Bound JWKS refreshes to cache expiry
  src/mainframe/json_web_token.py
  tests/test_auth.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Resolve strict Python diagnostics
  alembic/versions/0c4e434fc0b6_one_to_many_package_to_rules.py
  docs/source/conf.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Accept rotated Cloudflare signing keys safely
  src/mainframe/json_web_token.py
  tests/test_auth.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Add cached queue observability
  CONTRIBUTING.md
  src/mainframe/constants.py
  src/mainframe/dependencies.py
  src/mainframe/endpoints/package.py
  src/mainframe/endpoints/queue.py
  src/mainframe/metrics.py
  src/mainframe/models/schemas.py
  src/mainframe/queue_monitor.py
  src/mainframe/server.py
  tests/test_auth.py
  tests/test_queue_monitor.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Normalize queue timestamps to UTC
  src/mainframe/queue_monitor.py
  tests/test_queue_monitor.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Expose durable performance metrics
  alembic/versions/f6c1e85d4a29_add_alerting_configuration.py
  src/mainframe/dependencies.py
  src/mainframe/endpoints/alerting.py
  src/mainframe/endpoints/performance.py
  src/mainframe/endpoints/report.py
  src/mainframe/metrics.py
  src/mainframe/models/orm.py
  src/mainframe/models/schemas.py
  src/mainframe/performance_monitor.py
  src/mainframe/server.py
  tests/conftest.py
  tests/test_alerting.py
  tests/test_auth.py
  tests/test_performance_monitor.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Document audited local validation
  .pre-commit-config.yaml
  AGENTS.md
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Cover performance monitor failure paths
  tests/test_performance_monitor.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Disambiguate reported package gauge
  src/mainframe/metrics.py
  src/mainframe/performance_monitor.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Add suppression REST resources
  alembic/versions/8f4c2b1d0a77_add_suppressions.py
  src/mainframe/endpoints/suppressions.py
  src/mainframe/models/orm.py
  src/mainframe/models/schemas.py
  tests/test_auth.py
  tests/test_suppressions.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Fix non-reversible migrations and add round-trip test
  alembic/versions/0ad8044bf4d5_initial.py
  alembic/versions/2745a5bf4c97_store_commit_hash_in_scan.py
  tests/test_migrations.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

add pytest-alembic
  pyproject.toml
  uv.lock
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

modify env.py and conftest.py for pytest-alembic
  alembic/env.py
  tests/conftest.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

fix migrations issues
  alembic/versions/0ad8044bf4d5_initial.py
  alembic/versions/2745a5bf4c97_store_commit_hash_in_scan.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

add migration tests
  tests/test_migrations.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Bound scan retries and dead-letter failures
  CONTRIBUTING.md
  alembic/versions/2e7c1a9b4d60_add_scan_retry_state.py
  docs/source/dead_letter_observability.rst
  docs/source/index.rst
  src/mainframe/constants.py
  src/mainframe/endpoints/job.py
  src/mainframe/endpoints/package.py
  src/mainframe/metrics.py
  src/mainframe/models/orm.py
  src/mainframe/models/schemas.py
  src/mainframe/performance_monitor.py
  src/mainframe/queue_monitor.py
  src/mainframe/server.py
  tests/test_job.py
  tests/test_package.py
  tests/test_performance_monitor.py
  tests/test_queue_monitor.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Validate scan assignment attempts
  alembic/versions/2e7c1a9b4d60_add_scan_retry_state.py
  docs/source/dead_letter_observability.rst
  src/mainframe/endpoints/job.py
  src/mainframe/endpoints/package.py
  src/mainframe/models/schemas.py
  tests/test_job.py
  tests/test_package.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Bind results to opaque worker leases
  alembic/versions/2e7c1a9b4d60_add_scan_retry_state.py
  docs/source/dead_letter_observability.rst
  src/mainframe/endpoints/job.py
  src/mainframe/endpoints/package.py
  src/mainframe/models/orm.py
  src/mainframe/models/schemas.py
  tests/test_package.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Cover claimed scan assignment invariant
  src/mainframe/endpoints/job.py
  tests/test_job.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Track migrated leases from rollout boundary
  alembic/versions/2e7c1a9b4d60_add_scan_retry_state.py
  docs/source/dead_letter_observability.rst
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Reduce performance monitor database load
  src/mainframe/constants.py
  src/mainframe/performance_monitor.py
  src/mainframe/server.py
  tests/test_performance_monitor.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

Bound performance analytics work
  CONTRIBUTING.md
  alembic/versions/7b2f4e6a8c10_add_bounded_performance_projection.py
  docs/source/dead_letter_observability.rst
  src/mainframe/constants.py
  src/mainframe/metrics.py
  src/mainframe/models/orm.py
  src/mainframe/performance_monitor.py
  src/mainframe/performance_projection.py
  src/mainframe/server.py
  tests/test_performance_monitor.py
Owners: @vipyrsec/core-developers, @vipyrsec/security-reviewers

.github/CODEOWNERS:

*             @vipyrsec/core-developers @vipyrsec/security-reviewers
.dockerignore @vipyrsec/devops
Dockerfile    @vipyrsec/devops
/.github/     @vipyrsec/devops
